.aps
.bin
.Cache
.class
.dbmdl
.dotCover
.egg
.egg-info
.exe
.ilk
.iml
.launch
.lock
.meta
.mo
.ncb
.njsproj
.ntvs
.obj
.opensdf
.pch
.pdb
.pgc
.pgd
.psess
.py[co]
.pydevproject
.rsp
.sbr
.sdf
.sln
.sln.docstates
.suo
.swp
.tlb
.tlh
.tli
.tmp
.user
.vsp
.vspscc
.zip
_i.c
_p.c
~.nib
target
.buildpath
.builds
.classpath
.coverage
.cproject
.DS_Store
.env..local
.env.local
.externalToolBuilders
.hbuilderx
.idea
.installed.cfg
.loadpath
.local-browser
.metadata
.mr.developer.cfg
.project
.settings
.tox
.vs
.vscode
[Bb]in
[Dd]ebug
[Ee]xpress
[Oo]bj
[Rr]elease
_ReSharper
_UpgradeReport_Files
Backup
blade-ops
bin
ClientBin
cmake-build-debug
Desktop.ini
develop-eggs
dist
DocProjectbuildhelp
DocProjectHelp.hhc
DocProjectHelp.hhk
DocProjectHelp.hhp
DocProjectHelp.HxC
DocProjectHelp.HxT
DocProjectHelphtml
DocProjectHelpHtml2
eggs
Generated_Code #added for RIASilverlight projects
hs_err_pid
ipch
jrebel-classpath-.jar
local.properties
node_modules
npm-debug.log
out
parts
pip-log.txt
rebel.xml
replay_pid
sdist
stylecop.
target
TestResults
testse2escreenshots
testse2evideos
Thumbs.db
unpackage
UpgradeLog.XML
var
yarn-debug.log
yarn-error.log
~$
